/* Navbar styles */
.navbar {
    background-color: #f2f2f2;
    height: 50px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar li {
    margin-left: 10px;
  }
  
  .navbar li:first-child {
    margin-left: 0;
  }
  
  .navbar li a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding: 15px;
  }
  
  .navbar li a:hover {
    background-color: #ddd;
  }
.footer {
    background-color: aquamarine;
    
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;


}  
.inputBox{
  display: block;
  margin: 15px;
  padding: 7px;
  width: 300px;
  border: 1px solid;
}
.signup{
  margin-left: 30%;
}
.signBtn{
  margin: 15px;
  padding: 7px;
  background-color: skyblue;
}